@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0.9754 0.0084 325.6414;
  --foreground: 0.3257 0.1161 325.0372;
  --card: 0.9754 0.0084 325.6414;
  --card-foreground: 0.3257 0.1161 325.0372;
  --popover: 1 0 0;
  --popover-foreground: 0.3257 0.1161 325.0372;
  --primary: 0.5316 0.1409 355.1999;
  --primary-foreground: 1 0 0;
  --secondary: 0.8696 0.0675 334.8991;
  --secondary-foreground: 0.4448 0.1341 324.7991;
  --muted: 0.9395 0.026 331.5454;
  --muted-foreground: 0.4924 0.1244 324.4523;
  --accent: 0.8696 0.0675 334.8991;
  --accent-foreground: 0.4448 0.1341 324.7991;
  --destructive: 0.5248 0.1368 20.8317;
  --destructive-foreground: 1 0 0;
  --border: 0.8568 0.0829 328.911;
  --input: 0.8517 0.0558 336.6002;
  --ring: 0.5916 0.218 0.5844;
  --radius: 0.5rem;
}

.dark {
  --background: 0.2409 0.0201 307.5346;
  --foreground: 0.8398 0.0387 309.5391;
  --card: 0.2803 0.0232 307.5413;
  --card-foreground: 0.8456 0.0302 341.4597;
  --popover: 0.1548 0.0132 338.9015;
  --popover-foreground: 0.9647 0.0091 341.8035;
  --primary: 0.4607 0.1853 4.0994;
  --primary-foreground: 0.856 0.0618 346.3684;
  --secondary: 0.3137 0.0306 310.061;
  --secondary-foreground: 0.8483 0.0382 307.9613;
  --muted: 0.2634 0.0219 309.4748;
  --muted-foreground: 0.794 0.0372 307.1032;
  --accent: 0.3649 0.0508 308.4911;
  --accent-foreground: 0.9647 0.0091 341.8035;
  --destructive: 0.2258 0.0524 12.6119;
  --destructive-foreground: 1 0 0;
  --border: 0.3286 0.0154 343.4461;
  --input: 0.3387 0.0195 332.8347;
  --ring: 0.5916 0.218 0.5844;
}

* {
  @apply border-border outline-ring/50;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "SF Pro Text", "Segoe UI", sans-serif;
  @apply bg-background text-foreground;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
